{{ define "components/cronjobcontrols" }}
  <header class="cron-job-controls">
    <form
      hx-post="/job"
      hx-include="#cron-job-inputs"
      hx-swap="afterbegin"
      hx-target="#jobs"
    >
      <a href="/">👈</a>
      {{ if .Loaded }}
        <span>{{ .Name }}</span>
      {{ else }}
        <span>loading...</span>
      {{ end }}
      <button
        hx-get="/cronjobdef"
        hx-include="#cron-job-inputs"
        hx-target="body"
        hx-swap="beforeend"
        type="button"
      >
        🔍
      </button>
      <button
        hx-disabled-elt="this"
        {{ if not .Loaded }}disabled{{ end }}
        type="submit"
      >
        go!
      </button>
      <span>{{ .Schedule }}</span>
    </form>
  </header>
{{ end }}
