{{ define "components/job" }}
  <tr id="{{ .Name }}" class="{{ .State }}" title="{{ .Name }}">
    <td class="name">{{ .Name }}</td>
    <td class="started">{{ .StartTime }}</td>
    <td class="completed">{{ .CompletionTime }}</td>
    <td class="success">{{ .Succeeded }}</td>
    <td class="info">
      <button
        hx-get="/jobdef"
        hx-include="#{{ .Name }}"
        hx-target="body"
        hx-swap="beforeend"
      >
        🔍
      </button>
    </td>
    <td class="container">
      {{ if eq .Container.Name "" }}
        <span>n/a</span>
      {{ else }}
        <a
          href="/logs?namespace={{ .Container.Namespace }}&pod={{ .Container.Pod }}&name={{ .Container.Name }}"
        >
          {{ .Container.Name }}
        </a>
      {{ end }}
    </td>
    <td class="delete">
      <form hx-delete="job" hx-target="#{{ .Name }}" hx-swap="outerHTML">
        {{ template "jobinputs" . }}
        <button hx-disabled-elt="this" class="delete" type="submit">
          delete
        </button>
      </form>
    </td>
  </tr>
{{ end }}
