{{ template "layout" }}
{{ define "pages/cronjob" }}
  <!doctype html>
  <html>
    <head>
      {{ block "meta" . }}{{ end }}
      <title>
        {{ block "title" . }}cronjobber - {{ .Name }}{{ end }}
      </title>
      {{ block "css" . }}{{ end }}
      {{ block "js" . }}{{ end }}
    </head>
    <body>
      <main hx-get="/cronjob" hx-include="#cron-job-inputs" hx-trigger="load">
        {{ template "components/cronjob" . }}
      </main>

      <script>
        // @ts-check
        document.addEventListener(
          "htmx:load",
          (
            /** @type { Event & { detail?: { elt?: HTMLElement } } } */ event,
          ) => {
            if (
              event.detail?.elt &&
              event.detail.elt.classList.contains("info-dialog")
            ) {
              onInfoDialogLoad(event.detail.elt);
            }
          },
        );

        /** @param {HTMLElement} dialog */
        function closeDialog(dialog) {
          dialog.classList.add("closing");

          dialog.addEventListener("animationend", () => {
            dialog.remove();
          });
        }

        /** @param {HTMLElement} dialog */
        function onInfoDialogLoad(dialog) {
          if (!(dialog instanceof HTMLDialogElement)) {
            console.error(
              "dialog is not an instance of HTMLDialogElement",
              dialog,
            );
            return;
          }

          const button = dialog.querySelector(".close-button");

          if (!button) {
            console.error(".close-button not found in dialog", dialog);
            return;
          }

          dialog.addEventListener("click", (event) => {
            if (event.target === dialog) {
              closeDialog(dialog);
            }
          });

          dialog.addEventListener("keydown", (event) => {
            if (event.key === "Escape") {
              closeDialog(dialog);
            }
          });

          button.addEventListener("click", () => {
            closeDialog(dialog);
          });

          dialog.showModal();
        }
      </script>
    </body>
  </html>
{{ end }}
