{{ template "layout" }}
{{ define "pages/logs" }}
  <!doctype html>
  <html>
    <head>
      {{ block "meta" . }}{{ end }}
      <title>
        {{ block "title" . }}cronjobber - logs{{ end }}
      </title>
      {{ block "css" . }}{{ end }}
      <style>
        #logs {
          pre {
            max-width: 90vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      </style>
      {{ block "js" . }}{{ end }}
      <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/sse.js"></script>
    </head>
    <body>
      <main>
        {{ template "components/containerinputs" . }}
        <table
          id="logs-table"
          hx-ext="sse"
          hx-target="#logs"
          hx-swap="beforeend"
          sse-connect="/logs?namespace={{ .Namespace }}&pod={{ .Pod }}&name={{ .Name }}"
          sse-swap="message"
        >
          <thead>
            <tr>
              <th>message</th>
            </tr>
          </thead>

          <tbody
            id="logs"
            hx-get="/logs"
            hx-include="#container-inputs"
            hx-trigger="load"
          >
            {{ template "components/logs" . }}
          </tbody>
        </table>
      </main>
    </body>
  </html>
{{ end }}
