{{ template "layout" }}
{{ define "pages/logs" }}
  <!doctype html>
  <html>
    <head>
      {{ block "meta" . }}{{ end }}
      <title>
        {{ block "title" . }}cronjobber - logs{{ end }}
      </title>
      {{ block "css" . }}{{ end }}
      <style>
        ul {
          max-height: 400px;
          overflow: auto;
        }
      </style>
      {{ block "js" . }}{{ end }}
      <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/sse.js"></script>
    </head>
    <body>
      <main
        hx-get="/logs"
        hx-include="#container-inputs"
        hx-target="#logs"
        hx-trigger="load"
      >
        <h1>{{ .Pod }}</h1>
        {{ template "components/containerinputs" . }}
        <ul
          id="logs"
          hx-ext="sse"
          hx-swap="beforeend"
          sse-connect="/logs?namespace={{ .Namespace }}&pod={{ .Pod }}&name={{ .Name }}"
          sse-swap="log"
        >
          {{ template "components/logs" . }}
        </ul>
      </main>

      <script>
        // @ts-check
        document.addEventListener("htmx:load", () => {
          const logs = document.getElementById("logs");

          if (!logs) {
            console.error("no logs");
            return;
          }

          logs.addEventListener("htmx:beforeSwap", onBeforeLogsSwap);
        });

        /** @param { Event & { detail?: { elt?: HTMLElement, shouldSwap?: boolean } } } event **/
        function onBeforeLogsSwap(event) {
          const id = event.detail?.elt?.id;

          console.log("htmx:beforeSwap", id);

          if (!id) {
            console.error("no id in event.detail.elt");
            return;
          }

          if (!("shouldSwap" in event)) {
            console.error("no shouldSwap in event");
            return;
          }

          if (!!document.getElementById(id)) {
            console.log("exists");

            event.shouldSwap = false;

            return;
          }

          console.log("new", event.detail);
        }
      </script>
    </body>
  </html>
{{ end }}
